{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to FlaskApp</h1>
        <p class="lead">This application is written in python using the Flask framework, with a MySQL database.</p>
        {% if session.logged_in == NULL %}
            <div class="text-center">
                <a href="/register" class="btn btn-primary btn-lg">Register</a>
                <a href="/login" class="btn btn-success btn-lg">Login</a>
            </div>
        {% endif %}
    </div>
{% endblock %}